/* Основные стили */
body {
    background: #FFFFFF;
    color: #010508;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

ol {
    list-style: none;
    counter-reset: li;
}

li:before {
    counter-increment: li;
    content: counters(li, ".") ". ";
}

li {
    color: #333333;
    padding-bottom: 7px;
    padding-right: 10px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.container_path {
    margin-left: 30px;
}

.special-link {
    color: #333;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
}

.special-link:visited {
    color: #333;
}

.special-link:hover {
    color: #007bff;
}

.special-link,
.product_mane_advert {
    display: inline-block;
}

.horizontal-line {
    margin-top: 15px;
    border: 0.05px solid #f0f0f0;
    margin-left: 30px;
    margin-right: 60px;
    margin-bottom: 20px;
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
    .container_path {
        margin-left: 15px;
    }

    .special-link {
        font-size: 14px;
    }

    li {
        font-size: 14px;
    }

    .horizontal-line {
        margin-left: 15px;
        margin-right: 30px;
    }
}

@media (max-width: 480px) {
    .container_path {
        margin-left: 10px;
    }

    .special-link {
        font-size: 12px;
    }

    li {
        font-size: 12px;
    }

    .horizontal-line {
        margin-left: 10px;
        margin-right: 20px;
    }
}