/* Основные стили */
.slider-container {
    margin-top: 20px;
    text-align: center;
}

.slider-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.slider-container input[type="range"] {
    width: 80%;
}

.slider-container input[type="number"] {
    width: 80px;
    margin-left: 10px;
    text-align: center;
}

.slider-container span {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}

.price-container {
    margin-top: 20px;
    text-align: center;
}

.price-container p {
    margin: 10px 0;
}

.price-container span {
    color: green;
}

h1, p, h3 {
    text-align: center;
}

button {
    padding: 8px 16px;
    background-color: #0077ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 47%;
    margin-bottom: 5%;
}

button:hover {
    background-color: #005ba1;
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
    .slider-container input[type="range"] {
        width: 90%;
    }

    .slider-container input[type="number"] {
        width: 60px;
        margin-left: 5px;
    }

    button {
        margin-left: 40%;
    }
}

@media (max-width: 480px) {
    .slider-container input[type="range"] {
        width: 100%;
    }

    .slider-container input[type="number"] {
        width: 50px;
        margin-left: 5px;
    }

    button {
        margin-left: 30%;
    }
}